@model Pokemon 

<form asp-action="Edit" method="post">
    
    <label asp-for="Name" class="form-control">Name</label> <input type="text" asp-for="Name" />
    <label asp-for="Hp" class="form-control">HP</label> <input type="text" asp-for="Hp" />
    <label asp-for="Attack" class="form-control">Attack</label> <input type="text" asp-for="Attack" />
    <label asp-for="Defense" class="form-control">Defense</label> <input type="text" asp-for="Defense" />
    <label asp-for="SpAttack" class="form-control">Sp.Attack</label> <input type="text" asp-for="SpAttack" />
    <label asp-for="SpDefense" class="form-control">Sp.Defense</label> <input type="text" asp-for="SpDefense" />
    <label asp-for="Speed" class="form-control">Speed</label> <input type="text" asp-for="Speed" />
    <button type="submit" class="form-control">Submit</button>
</form>
